@import url("https://fonts.googleapis.com/css2?family=Delius&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap");

html {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/014/665/033/original/yargon-kerman-webp-net-gifmaker-39.gif?1544919451");
  background-size: 2200px;


}
/* HEADER */
.Portfolio-name {
  color: white;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 60px;
  text-shadow: 3px 3px purple
}

.navStyle {
  display: flex;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 25px;
  box-shadow: 5px 5px rgb(75, 2, 75);
  padding: 8px;
  width: 90%;
  margin: auto;
}

/* PROJECTS PAGE */
.Project-name {
  color: white;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.image {
  width: 700px;
  height: 400px;
  margin: auto;
  border-radius: 25px;
  /* box-shadow: 3px 3px white; */
}
.Github {
  width: 80px;
  height: 40px;
  border-radius: 25px;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin-right: 10px;
  color: purple;
}
.Live {
  width: 80px;
  height: 40px;
  border-radius: 25px;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: purple;
}

/* ABOUT PAGE */
.About-name {
  color: white;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 50px;
  text-shadow: 3px 3px black;
}
.headshot {
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 25px;
  box-shadow: 10px 10px white;
}
.email {
  color: white;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px black;
}
.bio {
  color: white;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 20px;
  text-shadow: 3px 3px black;
}

/* LINKS */
.home-link{
  color: white;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px white
}
.about-link{
  color: white;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px white
}
.projects-link{
  color: white;
  font-family: "Delius", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px white
}